:root {
  --color-accent: theme("colors.green.DEFAULT");
  --color-heading: theme("colors.green.dark");
  --color-body: theme("colors.black.DEFAULT");
  --color-body-2: theme("colors.black.900");
  --color-body-3: theme("colors.black.600");
  --color-body-4: theme("colors.black.400");
  --color-background: theme("colors.white.DEFAULT");
  --color-line: theme("colors.black.100");
  --color-line-2: theme("colors.black.200");
  --rh: 100vh;
  --rw: 100vw;
  --layout-offset-width: 0px;
  --site-header-height: 5.5rem;

  @screen md {
    --site-header-height: 8.5rem;
  }
}

html {
  @apply text-[92%] md:text-[96%] lg:text-[100%] leading-tight antialiased scroll-smooth scroll-pt-12;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  @apply text-body text-base;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-heading font-serif font-extrabold lining-nums;

  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + h6 {
    @apply font-sans font-normal;
  }
}

.h0 {
  @apply leading-[1.15];
  font-size: calc(theme("fontSize.5xl") * 0.6);

  @screen md {
    font-size: calc(theme("fontSize.5xl") * 0.8);
  }

  @screen lg {
    font-size: calc(theme("fontSize.5xl") * 0.9);
  }

  @screen xl {
    @apply text-5xl;
  }
}

h1,
.h1 {
  @apply leading-[1.15];
  font-size: calc(theme("fontSize.4xl") * 0.6);

  @screen md {
    font-size: calc(theme("fontSize.4xl") * 0.8);
  }

  @screen lg {
    font-size: calc(theme("fontSize.4xl") * 0.9);
  }

  @screen xl {
    @apply text-4xl;
  }
}

h2,
.h2 {
  @apply leading-[1.15];
  font-size: calc(theme("fontSize.3xl") * 0.68);

  @screen md {
    font-size: calc(theme("fontSize.3xl") * 0.84);
  }

  @screen lg {
    font-size: calc(theme("fontSize.3xl") * 0.92);
  }

  @screen xl {
    @apply text-3xl;
  }
}

h3,
.h3 {
  @apply leading-[1.15];
  font-size: calc(theme("fontSize.2xl") * 0.76);

  @screen md {
    font-size: calc(theme("fontSize.2xl") * 0.88);
  }

  @screen lg {
    font-size: calc(theme("fontSize.2xl") * 0.94);
  }

  @screen xl {
    @apply text-2xl;
  }
}

h4,
.h4 {
  @apply leading-tight;
  font-size: calc(theme("fontSize.xl") * 0.84);

  @screen md {
    font-size: calc(theme("fontSize.xl") * 0.92);
  }

  @screen lg {
    font-size: calc(theme("fontSize.xl") * 0.96);
  }

  @screen xl {
    @apply text-xl;
  }
}

h5,
.h5 {
  @apply leading-tight;
  font-size: calc(theme("fontSize.lg") * 0.92);

  @screen md {
    font-size: calc(theme("fontSize.lg") * 0.96);
  }

  @screen lg {
    font-size: calc(theme("fontSize.lg") * 0.98);
  }

  @screen xl {
    @apply text-lg;
  }
}

h6,
.h6 {
  @apply text-base leading-tight;
}

/* Block-Level */

p,
li,
dd {
  @apply leading-normal;
}

address {
  @apply not-italic;
}

/* Inline-Level */

a {
}

strong {
  @apply font-semibold;
}

mark {
  @apply text-body;
}

/* Forms */

label {
  @apply text-body text-sm font-bold;
}

input,
input[type],
select,
textarea {
  @apply w-full px-4 text-black text-[16px] sm:text-sm bg-white border border-black-200 rounded-sm appearance-none outline-none;
  @apply transition ease-in-out duration-200;

  &:hover {
    @apply border-black-400;
  }

  &:focus {
    @apply border-accent ring-2 ring-accent outline-none;
  }

  &::placeholder {
    @apply text-black-400;
  }

  &::-webkit-search-cancel-button {
    @apply hidden;
  }

  &:disabled {
    @apply bg-black-200-solid border-transparent cursor-not-allowed;
  }

  /* Classes applied by Vee Validate */

  &.invalid {
    @apply border-extra-1;

    &:focus {
      @apply border-extra-1 ring-extra-1;
    }
  }
}

input,
input[type],
select {
  @apply h-10;
}

textarea {
  @apply block py-3;
}

input[type="file"] {
  @apply h-auto px-0 border-0;

  &:disabled {
    @apply bg-transparent opacity-50;
  }
}

input[type="checkbox"],
input[type="radio"] {
  @apply relative align-top w-6 h-6 p-0;

  &:checked {
    @apply bg-accent border-accent;
  }

  &:checked:after {
    @apply absolute inset-0 bg-center bg-no-repeat content-[''];
  }

  &:disabled {
    @apply bg-black-200-solid border-transparent;
  }
}

input[type="checkbox"] {
  &:checked:after {
    /*
    Background image is FontAwesome 6 solid check
    This is obtained by: encodeURI('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="16"><path fill="rgba(255,255,255,1)" d="M480 128c0 8.188-3.125 16.38-9.375 22.62l-256 256C208.4 412.9 200.2 416 192 416s-16.38-3.125-22.62-9.375l-128-128C35.13 272.4 32 264.2 32 256c0-18.28 14.95-32 32-32c8.188 0 16.38 3.125 22.62 9.375L192 338.8l233.4-233.4C431.6 99.13 439.8 96 448 96C465.1 96 480 109.7 480 128z"></path></svg>')
    */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20512%20512%22%20width=%2216%22%3E%3Cpath%20fill=%22rgba(255,255,255,1)%22%20d=%22M480%20128c0%208.188-3.125%2016.38-9.375%2022.62l-256%20256C208.4%20412.9%20200.2%20416%20192%20416s-16.38-3.125-22.62-9.375l-128-128C35.13%20272.4%2032%20264.2%2032%20256c0-18.28%2014.95-32%2032-32c8.188%200%2016.38%203.125%2022.62%209.375L192%20338.8l233.4-233.4C431.6%2099.13%20439.8%2096%20448%2096C465.1%2096%20480%20109.7%20480%20128z%22%3E%3C/path%3E%3C/svg%3E");
  }
}

input[type="radio"] {
  @apply rounded-full;

  &:checked:after {
    /*
    Background image is FontAwesome 6 solid circle-small
    This is obtained by: encodeURI('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" width="10"><path fill="rgba(255,255,255,1)" d="M320 256c0 88.37-71.63 160-160 160s-160-71.63-160-160s71.63-160 160-160S320 167.6 320 256z"></path></svg>')
    */
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20320%20512%22%20width=%2210%22%3E%3Cpath%20fill=%22rgba(255,255,255,1)%22%20d=%22M320%20256c0%2088.37-71.63%20160-160%20160s-160-71.63-160-160s71.63-160%20160-160S320%20167.6%20320%20256z%22%3E%3C/path%3E%3C/svg%3E");
  }
}

select {
  @apply pr-12 bg-no-repeat;
  /*
  Background image is FontAwesome 6 light caret-down
  This is obtained by: encodeURI('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="16"><path fill="rgba(26,26,26,1)" d="M362.7 203.9l-159.1 144c-6.125 5.469-15.31 5.469-21.44 0L21.29 203.9C14.73 197.1 14.2 187.9 20.1 181.3C26.38 174.4 36.5 174.5 42.73 180.1L192 314.5l149.3-134.4c6.594-5.877 16.69-5.361 22.62 1.188C369.8 187.9 369.3 197.1 362.7 203.9z"></path></svg>')
  */
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20viewBox=%220%200%20384%20512%22%20width=%2216%22%3E%3Cpath%20fill=%22rgba(26,26,26,1)%22%20d=%22M362.7%20203.9l-159.1%20144c-6.125%205.469-15.31%205.469-21.44%200L21.29%20203.9C14.73%20197.1%2014.2%20187.9%2020.1%20181.3C26.38%20174.4%2036.5%20174.5%2042.73%20180.1L192%20314.5l149.3-134.4c6.594-5.877%2016.69-5.361%2022.62%201.188C369.8%20187.9%20369.3%20197.1%20362.7%20203.9z%22%3E%3C/path%3E%3C/svg%3E");
  background-position: right theme("spacing.4") center;

  &::-ms-expand {
    @apply hidden;
  }
}
