.blocks > {
  /* Spacing */

  * {
    @apply mt-24 first:mt-0;
  }

  &.breadcrumbs + * {
    @apply mt-18;
  }

  * + .footing,
  &.breadcrumbs + .heading,
  &.content + .gallery,
  &.content + .layout-grid,
  &.content + .quote,
  &.gallery + .content,
  &.heading + *:not(.divider):not(.heading),
  &.quote + .content {
    @apply mt-12;
  }

  &.alert + .alert,
  &.table + .table {
    @apply mt-6;
  }

  &.acres-protected + *,
  &.banner + .banner,
  &.banner + .breadcrumbs,
  &.banner + .feature.type-card,
  &.banner + .layout-section,
  &.banner + .link-bar,
  &.breadcrumbs + .banner,
  &.breadcrumbs + .feature.type-card,
  &.breadcrumbs + .layout-section,
  &.breadcrumbs + .link-bar,
  &.callout.no-wavy-bottom + .breadcrumbs,
  &.callout.no-wavy-bottom + .layout-section,
  &.callout.no-wavy-bottom + .link-bar,
  &.feature.type-card + .layout-section,
  &.heading + .acres-protected,
  &.layout-section + .banner,
  &.layout-section + .callout,
  &.layout-section + .feature.type-card,
  &.layout-section + .layout-section,
  &.link-bar + .banner,
  &.link-bar + .layout-section {
    @apply mt-0;
  }

  /* Style Adjustments */

  &.banner.has-explore-the-land + .breadcrumbs .main {
    @apply pr-24;
  }

  &.banner.has-items + .breadcrumbs {
    @apply static pt-10;
  }
}

.blocks[root] > {
  /* Spacing */

  * {
    @apply first:mt-12;

    /* In sidebar layout, mimic `&.breadcrumbs + * {}` rule above which has a built-in Breadcrumbs */
    .layout-sidebar & {
      @apply first:mt-18;
    }
  }

  &.banner.is-root-first-child,
  &.blog-banner:first-child {
    @apply -mt-site-header-height !important;
  }

  &.banner:first-child,
  &.breadcrumbs:first-child,
  &.link-bar:first-child {
    @apply mt-0;
  }

  &.banner:last-child,
  &.completion:last-child,
  &.layout-section:last-child,
  &.next:last-child {
    @apply -mb-24;
  }

  &.feature.type-card:last-child {
    @apply lg:-mb-24;
  }

  /* Style Adjustments */

  &.layout-section:last-child {
    > .edge-bottom {
      @apply hidden;
    }
  }
}

.layout-section > .blocks > {
  /* Spacing */

  &.banner + * {
    @apply mt-0;
  }

  .callout:last-child {
    @apply -mb-24;
  }

  /* Style Adjustments */

  &.banner {
    @apply bg-transparent;
  }
}

/* Hide the first three items on the first page of blog posts if they follow a blog banner since it contains the first 3 posts too */
/* Obviouslly not elegant, but gets the job done for now */
.blog-banner + .blog-posts {
  .item-list.page-1 li {
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3) {
      @apply hidden;
    }
    &:nth-of-type(4) {
      @apply mt-0;
    }
  }
}
